{% extends "base.html" %} {% block content %}



<style>

	body{

		background-image:url(/static/loginbg.png);
		background-size:cover;
	}
</style>

<body>
<div class="container" style="margin-left:auto;margin-right:auto; width:500px; background-color:honeydew;">

    <h2>Login form</h2>
	
	{% if msg=="failed" %}
	<h4 style='color :red;'>{{ "Login failed try agin" }}</h4>
	{% endif %}

    <form name="f1" action="/login.html" method="post">
		
		<table class="table">
		
		<tr>
		<td>
		<input type="text" name="username" placeholder="User name" required=required />
		</td>
		</tr>
		
		<tr>
		<td>
		<input type="password" name="password" placeholder="Password" required=required />
		</td>
		</tr>
		
		
		<tr>
		<td>
		<input type="submit" value=" Login " class="btn btn-primary btn-lg" />
		</td>
		</tr>
		
		
		</table>
	
	</form>
</div>
</body>
{% endblock %}